
<h1>Step 2: Select your Config and Options</h1>
<div>
<label for="selectedConfig">Configuration:</label>

<select id="selectedConfig" [(ngModel)]="selectedConfig" name="selectedConfig" (ngModelChange)="onChange()">
    <option value="" disabled selected>Choose...</option>
  <option *ngFor="let conf of selectedCar.configSelect" [ngValue]="conf">{{ conf.config }}    
  </option>
</select>

</div>
<ng-template [ngIf]="showRange">
    Range: 
<input id="range" [(ngModel)]="selectedCar.configSelect[0].range" style="width: 300px;">
</ng-template>
<div>
<label>
    Tow Hitch
    <input type="checkbox" [(ngModel)]="selectedCar.includeTow"> 
  </label>
</div>
<div>
    <label>
        Yoke Steering Wheel?
        <input type="checkbox" [(ngModel)]="selectedCar.includeYoke"> 
      </label>
    </div>